{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home2" %}{% endblock %}
{% block title %}{% trans "Hom3e" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home4" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/1.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Mutualismo</h3>
					<p>Integramos  la Economía Social que es una parte relevante de la estructura económica nacional. Puesta en el concierto de los actores sociales que construyen un proyecto de Nación más justa y equitativa.</p>
					<!-- <a href="#" class="btn btn-theme">Learn More</a> -->
                </div>
              <!-- </li>
              <li>
                <img src="{% static "img/slides/2.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Fully Responsive</h3>
					<p>Sodales neque vitae justo sollicitudin aliquet sit amet diam curabitur sed fermentum.</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/3.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Clean & Fast</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li> -->
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Femubyr</span> </h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>


{% endblock %}
